@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<img src="~/Utils/test-800.jpg" />
<img srcset="~/Utils/test-300.jpg 480w,
             ~/Utils/test-800.jpg 800w"
     sizes="(max-width: 400px) 500px,
            800px"
     src="~/Utils/test-800.jpg"
     alt="test">